.grid {
  display: grid;
  color: white;
  gap: 5px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(5, minmax(10px, max-content));
  margin-bottom: 30px;
}

.item:nth-child(odd) {
  background-color: lightskyblue;
}

.item:nth-child(even) {
  background-color: lightpink;
}
