.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: greenyellow;
  grid-column: span 4;
}

.content {
  background-color: lightskyblue;
  grid-column: 1 / -2;
  grid-row: span 2;
}

.nav {
  background-color: lightpink;
  grid-row: span 2;
}

.footer {
  background-color: lightgoldenrodyellow;
  grid-column: span 4;
}
